/* h1 {
    background-color: #AEDB9F;
    color: #000000;
    text-align: center;
    font-family: "Arial";
} */

.desc {
    display: none;
}

h2 {
    color: #000000;
    font-family: "Arial";
}

h3 {
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
}

h4 {
    color: #000000;
    font-family: "Times New Roman";
    font-size: 11pt;
}

h5 {
    color: #000000;
    font-family: "Times New Roman";
}

h6 {
    color: #000000;
    font-family: "Times New Roman";
}

label {
    font-family: "Times New Roman";
    font-size: 16;
}

div.ex1 {
    background-color: white;
    width: 100%;
    height: 200px;
    overflow: scroll;
}

div.metric-table {
    background-color: white;
    width: 100%;
    height: 270px;
    overflow: scroll;
}

input.form-fixer {
    padding: 1px;
}

.form-horizontal .form-group input,
.form-horizontal .form-group select,
.form-horizontal .form-group label
 {
    height: 14px;
    line-height: 14px;
}
