{% extends "tethys_apps/app_base.html" %}

{% load staticfiles %}

{% block title %}{{ tethys_app.name }}{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_navigation_items %}

  <li class="title">Navigation</li>

  {# Defining Variables Here #}
  {% url 'statistics_calc:home' as home_url %}
  {% url 'statistics_calc:preprocessing' as preprocessing %}
  {% url 'statistics_calc:merge_two_datasets' as merge_two_datasets %}
  {% url 'statistics_calc:validate_historical' as validate_historical_url %}
  {% url 'statistics_calc:create_persistence_benchmark' as create_persistence_benchmark %}
  {% url 'statistics_calc:process_a_forecast' as process_a_forecast %}
  {% url 'statistics_calc:merge_forecast' as merge_forecast %}
  {% url 'statistics_calc:validate_forecast' as validate_forecast %}
  {% url 'statistics_calc:timeseries_csv_example' as timeseries_csv_example %}
  {% url 'statistics_calc:merged_timeseries_csv_example' as merged_timeseries_csv_example %}
  {% url 'statistics_calc:merged_forecast_csv_example' as merged_forecast_csv_example %}
  {% url 'statistics_calc:forecast_csv_example' as forecast_csv_example %}

  <li class="{% if request.path == home_url %}active{% endif %}">
    <a href="{{ home_url }}">Home</a>
  </li>

  <li class="{% if request.path == preprocessing %}active{% endif %}">
    <a href="{{ preprocessing }}">Process a Time Series</a>
  </li>

  <li class="{% if request.path == merge_two_datasets %}active{% endif %}">
    <a href="{{ merge_two_datasets }}">Merge Two Time Series</a>
  </li>

  <li class="{% if request.path == validate_historical_url %}active{% endif %}">
    <a href="{{ validate_historical_url }}">Validate Merged Time Series</a>
  </li>

  <li class="{% if request.path == create_persistence_benchmark %}active{% endif %}">
    <a href="{{ create_persistence_benchmark }}">Create a Persistence Benchmark Forecast</a>
  </li>

  <li class="{% if request.path == process_a_forecast %}active{% endif %}">
    <a href="{{ process_a_forecast }}">Process an Ensamble Forecast</a>
  </li>

  <li class="{% if request.path == merge_forecast %}active{% endif %}">
    <a href="{{ merge_forecast }}">Merge a Forecast for Analysis</a>
  </li>

  <li class="{% if request.path == validate_forecast %}active{% endif %}">
    <a href="{{ validate_forecast }}">Validate a Forecast</a>
  </li>

  <li class="title">Examples</li>

  <li class="{% if request.path == timeseries_csv_example %}active{% endif %}">
    <a href="{{ timeseries_csv_example }}">Example Time Series CSV</a>
  </li>

  <li class="{% if request.path == merged_timeseries_csv_example %}active{% endif %}">
    <a href="{{ merged_timeseries_csv_example }}">Example Merged Time Series CSV</a>
  </li>

  <li class="{% if request.path == forecast_csv_example %}active{% endif %}">
    <a href="{{ forecast_csv_example }}">Example Forecast CSV</a>
  </li>

  <li class="{% if request.path == merged_forecast_csv_example %}active{% endif %}">
    <a href="{{ merged_forecast_csv_example }}">Example Merged Forecast CSV</a>
  </li>

{% endblock %}

{% block app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'statistics_calc/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}

  {# Defining Variables Here #}
  {% url 'statistics_calc:home' as home_url %}
  {% url 'statistics_calc:preprocessing' as preprocessing %}
  {% url 'statistics_calc:merge_two_datasets' as merge_two_datasets %}
  {% url 'statistics_calc:validate_historical' as validate_historical_url %}
  {% url 'statistics_calc:create_persistence_benchmark' as create_persistence_benchmark %}
  {% url 'statistics_calc:process_a_forecast' as process_a_forecast %}
  {% url 'statistics_calc:merge_forecast' as merge_forecast %}
  {% url 'statistics_calc:validate_multiple_streams' as validate_multiple_streams %}
  {% url 'statistics_calc:validate_forecast' as validate_forecast %}

  {{ block.super }}

  <script>
      var apiServer = "{% url 'statistics_calc:home' %}";
  </script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  {# Allows csrf verification with AJAX #}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> {# Plotly javascript api CDN #}
  {# Bootstrap toggle library #}
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  {# Papa Parse Library for Brief Client Side Authentication#}
  <script src="{% static 'statistics_calc/js/papaparse.min.js' %}" type="text/javascript"></script>
  {# CSS Library for pretty checkboxes #}
  <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet">

  {% if request.path == preprocessing %}
    {# Bootstrap Datepicker #}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css"
          rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"
            type="text/javascript"></script>
    <script src="{% static 'statistics_calc/js/preprocessing.js' %}" type="text/javascript"></script>
  {% endif %}

  {% if request.path == merge_two_datasets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="{% static 'statistics_calc/js/merge_two_datasets.js' %}" type="text/javascript"></script>
  {% endif %}

  {% if request.path == validate_historical_url %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="{% static 'statistics_calc/js/validate_historical.js' %}" type="text/javascript"></script>
  {% endif %}

  {% if request.path == create_persistence_benchmark %}
    <script src="{% static 'statistics_calc/js/create_persistence_benchmark.js' %}" type="text/javascript"></script>
  {% endif %}

  {% if request.path == process_a_forecast %}
    {# Bootstrap Datepicker #}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css"
          rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"
            type="text/javascript"></script>
    <script src="{% static 'statistics_calc/js/process_a_forecast.js' %}" type="text/javascript"></script>

  {% endif %}

  {% if request.path == merge_forecast %}
    <script src="{% static 'statistics_calc/js/merge_forecast.js' %}" type="text/javascript"></script>
  {% endif %}

  {% if request.path == validate_multiple_streams %}
    <script src="{% static 'statistics_calc/js/validate_multiple_streams.js' %}" type="text/javascript"></script>
  {% endif %}

  {% if request.path == validate_forecast %}
    <script src="{% static 'statistics_calc/js/validate_forecast.js' %}" type="text/javascript"></script>
  {% endif %}

{% endblock %}