{% extends "statistics_calc/base.html" %} {% load tethys_gizmos %} {% load tethys_gizmos staticfiles %} {% block styles %} {{ block.super }}
<link href="{% static 'statistics_calc/css/calculate_single.css' %}"
      rel="stylesheet"/> {% endblock %} {% block app_content %}

<div class="jumbotron jumbotron-fluid">
    <h1>Single Stream Analyzer</h1>
</div>

<!--data upload form-->
<form id="csv-upload" name="post-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <h2>Data Upload</h2>
    <hr>

    <h3>Observed Data</h3>

    <div class="row">
        <div class="col-md-3">
            <h4>Units</h4>
        </div>
        <div class="col-md-9">
            <h4>File Upload (CSV)</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input type="checkbox" name="observed-units" data-toggle="toggle" data-on="SI" data-off="BG"
                   data-onstyle="success" data-offstyle="primary" data-size="small" id="observed-units" checked>
        </div>
        <div class="col-md-9"><label class="btn btn-default btn-file">
            <input type="file" name="observed-csv" id="observed-csv" multiple>
        </label></div>

    </div>
    <h3>Simulated Data</h3>

    <!--Making a radio box option to either upload their own data or use the SFPT forecast historical data-->
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default form-check-label waves-effect waves-light">
            <input class="form-check-input" type="radio" autocomplete="off"
                   name="predicted_radio" value="upload">
            <h4>Upload Predicted Data (CSV):</h4>
        </label>
        <label class="btn btn-default form-check-label waves-effect waves-light">
            <input class="form-check-input" type="radio" autocomplete="off"
                   name="predicted_radio" value="sfpt">
            <h4>Use Streamflow Prediction Tool Historical Data:</h4>
        </label>
    </div>

    <br><br>
    <!--Form for uploading simulated data-->
    <div class="desc" id="upload">
        <div class="row">
            <div class="col-md-3">
                <h4>Units</h4>
            </div>
            <div class="col-md-9">
                <h4>File Upload (CSV)</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input type="checkbox" name="simulated-units-upload" id="simulated-units-upload" data-toggle="toggle"
                       data-on="SI" data-off="BG" data-onstyle="success" data-offstyle="primary" data-size="small"
                       class="form-control" checked>
            </div>
            <div class="col-md-9">
                <label class="btn btn-default btn-file">
                    <input type="file" name="simulated-csv" id="simulated-csv">
                </label>
            </div>
        </div>
    </div>

    <!--Form for using the streamflow prediction tool data-->
    <div class="desc" id="sfpt">
        <div class="row">
            <div class="col-md-2">
                <h4>Units</h4>
            </div>
            <div class="col-md-3">
                <h4>Reach ID</h4>
            </div>
            <div class="col-md-7">
                <h4>Watershed</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <input type="checkbox" name="simulated_units_sfpt" id="simulated_units_sfpt" data-toggle="toggle"
                       data-on="SI" data-off="BG" data-onstyle="success" data-offstyle="primary" data-size="small"
                       class="form-control" checked>
            </div>
            <div class="col-md-3">
                <input type="number" value=1 name="sfpt_watershed" id="sfpt_watershed">
            </div>
            <div class="col-md-7">
                <select id="select_watershed" name="watershed" id="simulated_watershed" class="selectpicker">
                    {% for choice in watersheds %}
                    <option value="{{ choice }}">{{ choice }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <!--{% if not watershed_error %}-->
    <!--<label id="reach_id" style="display:none">Reach ID: <input ></label>-->
    <!--<select id="select_watershed" name="watershed" style="display:none">-->
    <!--</select>-->
    <!--{% else %}-->
    <!--<label id="reach_id" style="display:none"><p style="color:red">There is a problem calling the API for-->
    <!--the watershed names, we are working to fix this. Please come back later.</p></label>-->
    <!--{% endif %}-->

    <hr>

    <h2>Preprocessing</h2><hr>

    <div class="row">
        <div class="col-md-4">
            <h5>Timeseries Have Equal Spacing</h5>
        </div>

        <div class="col-md-4">
            <h5>Timeseries Have Unequal Spacing</h5>
        </div>

        <div class="col-md-4">
            <h5>Timeseries have Different Timezones</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="btn btn-default form-check-label waves-effect waves-light">
                <input type="radio" name="preprocessing" value="equal-time">
            </label>
        </div>
        <div class="col-md-4">
            <label class="btn btn-default form-check-label waves-effect waves-light">
                <input type="radio" name="preprocessing" value="unequal-time">
            </label>
        </div>
        <div class="col-md-4">
            <label class="btn btn-default form-check-label waves-effect waves-light">
                <input type="checkbox" name="timezone">
            </label>
        </div>
    </div>

    <hr>
    <h2>Visualization</h2>
    <hr>

    <h3>Hydrograph of Entire Time Series</h3>

    <button type="button" class="btn btn-default btn-block" id="create-hydrograph">Create Hydrograph</button>
    <div id="hydrograph"><!-- Hydrograph will be drawn inside this DIV --></div>

    <h3>Hydrograph of Daily Averages</h3>

    <button type="button" class="btn btn-default btn-block" id="create-hydrograph-daily-avg">Create Hydrograph of Daily Averages</button>
    <div id="hydrograph-daily-avg"><!-- Hydrograph of daily averages will be drawn inside this DIV --></div>

    <h3>Scatter Plot</h3>

    <button type="button" class="btn btn-default btn-block" id="create-scatter">Create Scatter Plot</button>
    <div id="scatter"><!-- Scatter Plot will be drawn inside this DIV --></div>

    <h3>Scatter Plot with Log-Log Scale</h3>

    <button type="button" class="btn btn-default btn-block" id="create-scatter-log">Create Scatter Plot with Log-Log Scale</button>
    <div id="scatter-log"><!-- Scatter Log Plot will be drawn inside this DIV --></div>

    <hr>
    <h2>Table</h2>
    <hr>

    <h3>Remove Negative Values?&nbsp;</h3>
    <input type="checkbox" name="remove_neg_bool" data-toggle="toggle" data-on="Yes" data-off="No"
           data-onstyle="success" data-offstyle="danger" data-size="mini">

    <h3>Remove Zero Values?&nbsp;</h3>
    <input type="checkbox" name="remove_zero_bool" data-toggle="toggle" data-on="Yes" data-off="No"
           data-onstyle="success" data-offstyle="danger" data-size="mini">

    <!--Optional: Date Range-->
    <h3>Include Analysis of Date Range(s) in Table?</h3>
    <input type="checkbox" name="date_range_bool" id="date_range_bool" data-toggle="toggle" data-on="Yes" data-off="No"
           data-onstyle="success" data-offstyle="danger" data-size="mini">

    <!--begin date-->
    <div id="date_range_form" style="display:none">
        <h4>How many Date Ranges Would You Like to Analyze?
            <input type="number" id="Num_of_Date_Ranges" min="0" max="100"
                   step="1" value="0">
        </h4>
        <div id="date-ranges"></div>
        <br><br>
    </div>

    <h3>Select the Metrics to Include in the Table:</h3>

    <!--Displaying all of the metrics for the user to select-->
    <div class="ex1">
        {% for name_abbr in metric_loop_list %} {% if forloop.counter0 == 7 %}
        <label>
            {{ name_abbr.0 }}: <input type="checkbox" id="{{ name_abbr.1 }}"
                                      name="{{ name_abbr.1 }}" onclick="myFunction()">
        </label>

        <label id="{{ name_abbr.1 }}_label" style="display:none">
            M = <input type="number" name="mase_m" min="0" max="100" step=".1" value="1"> (Non-Seasonal = 1)
        </label>
        <br> {% elif forloop.counter0 == 18 %}
        <label>
            {{ name_abbr.0 }}: <input type="checkbox" id="{{ name_abbr.1 }}"
                                      name="{{ name_abbr.1 }}" onclick="myFunction()">
        </label>

        <label id="{{ name_abbr.1 }}_label" style="display:none">
            J = <input type="number" name="dmod_j" min="0" max="100" step=".1" value="1"> (Default = 1)
        </label>
        <br> {% elif forloop.counter0 == 22 %}
        <label>
            {{ name_abbr.0 }}: <input type="checkbox" id="{{ name_abbr.1 }}"
                                      name="{{ name_abbr.1 }}" onclick="myFunction()">
        </label>

        <label id="{{ name_abbr.1 }}_label" style="display:none">
            J = <input type="number" name="nse_mod_j" min="0" max="100" step=".1" value="1"> (Default = 1)
        </label>
        <br> {% elif forloop.counter0 == 24 %}
        <label>
            {{ name_abbr.0 }}: <input type="checkbox" id="{{ name_abbr.1 }}"
                                      name="{{ name_abbr.1 }}" onclick="myFunction()">
        </label>

        <label id="{{ name_abbr.1 }}_label" style="display:none">
            x&#772;' = <input type="number" name="lm_x_bar"
                              min="0" max="1000000" step=".01" value="1"> (Default = x&#772;)
        </label>
        <br> {% elif forloop.counter0 == 44 %}
        <label>
            {{ name_abbr.0 }}: <input type="checkbox" id="{{ name_abbr.1 }}"
                                      name="{{ name_abbr.1 }}" onclick="myFunction()">
        </label>

        <label id="{{ name_abbr.1 }}_label" style="display:none">
            k = <input type="number" name="h6_k_MHE" min="0" max="100" step=".1" value="1"> (Default = 1)
        </label>
        <br> {% elif forloop.counter0 == 45 %}
        <label>
            {{ name_abbr.0 }}: <input type="checkbox" id="{{ name_abbr.1 }}"
                                      name="{{ name_abbr.1 }}" onclick="myFunction()">
        </label>

        <label id="{{ name_abbr.1 }}_label" style="display:none">
            k = <input type="number" name="h6_k_AHE" min="0" max="100" step=".1" value="1"> (Default = 1)
        </label>
        <br> {% elif forloop.counter0 == 46 %}
        <label>
            {{ name_abbr.0 }}: <input type="checkbox" id="{{ name_abbr.1 }}"
                                      name="{{ name_abbr.1 }}" onclick="myFunction()">
        </label>

        <label id="{{ name_abbr.1 }}_label" style="display:none">
            k = <input type="number" name="h6_k_RMSHE" min="0" max="100" step=".1" value="1"> (Default = 1)
        </label>
        <br> {% elif forloop.counter0 == 65 %}
        <label>
            {{ name_abbr.0 }}: <input type="checkbox" id="{{ name_abbr.1 }}"
                                      name="{{ name_abbr.1 }}" onclick="myFunction()">
        </label>

        <label id="{{ name_abbr.1 }}_label" style="display:none">
            x&#772;' = <input type="number" name="d1_p_x_bar"
                              min="0" max="1000000" step=".01" value="1"> (Default = x&#772;)
        </label>
        <br> {% else %}
        <label>
            {{ name_abbr.0 }}: <input type="checkbox" id="{{ name_abbr.1 }}" name="{{ name_abbr.1 }}"></label>
        <br> {% endif %} {% endfor %}

    </div>
    <br>
</form>

<button type="button" class="btn btn-success" id="make-table">Make Table</button><br><br>

<div id="table"></div>
<!-- The table or errors go here -->

<hr>



<!--<h2>Volume</h2>-->
<!--<h3>Create Table of Streamflow Volumes? <input type="checkbox" name="volume_table"></h3>-->

<!--<button type=submit class="btn btn-success">Submit</button>-->


{% endblock %}