{% extends "statistics_calc/base.html" %}

{% block app_content %}

  <div class="jumbotron jumbotron-fluid">
    <h1>Hydrostats App</h1>

    <p>
      Welcome to the Hydrostats App! This app is a user interface for the
      <a href="https://github.com/BYU-Hydroinformatics/Hydrostats" target="_blank">Hydrostats Python
      package</a>. If you would like to view the Hydrostats functions that correlate with the different tools in this
      app, links are provided next to each tool in the app. You can use this app for validation of hydrological time
      series data, as well as the validation of ensemble forecasts and other forecasts.
      <br><br>
      See the sidebar for the available tools on this app. Also, tutorial videos are provided below.
    </p>

  </div>

  <h2>Tutorial Videos</h2>

  <br>

  <h3>Process a Time Series</h3>
  {# Tutorial Video Link #}
  <iframe width="560" height="315" src="https://www.youtube.com/embed/yhhnalWOmEQ" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <br>

  <h3>Merge Data</h3>
  {# Tutorial Video Link #}
  <iframe width="560" height="315" src="https://www.youtube.com/embed/iTxLDLku8OE" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <h3>Validate Historic Data</h3>
  {# Tutorial Video Link #}
  <iframe width="560" height="315" src="https://www.youtube.com/embed/n5zkA-HRcp8" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{% endblock %}
