{% extends "statistics_calc/base.html" %}

{% block app_content %}

  <div class="jumbotron jumbotron-fluid">
    <h1>Example Merged Time Series CSV</h1>
    <p>
      Below is an example of how the rows and columns in the merged time series CSV file must be formatted, with the
      dates in the first column, the simulated data in the second column, and the observed data in the third column.
      <br>
      <b>Note:</b> The <i>Merge Two Time Series Datasets</i> page will do this be default.
    </p>
  </div>

  <div class="example-csv">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
      <tr>
        <th title="Field #1">Datetime</th>
        <th title="Field #2">Simulated Data</th>
        <th title="Field #3">Observed Data</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>2000-01-01 05:00:00</td>
        <td align="left">0.7833696567740521</td>
        <td align="left">0.3930938207227591</td>
      </tr>
      <tr>
        <td>2000-01-02 05:00:00</td>
        <td align="left">0.238034398662486</td>
        <td align="left">0.772747509912531</td>
      </tr>
      <tr>
        <td>2000-01-03 05:00:00</td>
        <td align="left">0.9022670843416525</td>
        <td align="left">0.48108801876726526</td>
      </tr>
      <tr>
        <td>2000-01-04 05:00:00</td>
        <td align="left">0.42959474602759407</td>
        <td align="left">0.3431660742475082</td>
      </tr>
      <tr>
        <td>2000-01-05 05:00:00</td>
        <td align="left">0.659324142357909</td>
        <td align="left">0.45050478160668783</td>
      </tr>
      <tr>
        <td>2000-01-06 05:00:00</td>
        <td align="left">0.7798793495869812</td>
        <td align="left">0.7662660947571528</td>
      </tr>
      <tr>
        <td>2000-01-07 05:00:00</td>
        <td align="left">0.3498209176224294</td>
        <td align="left">0.291787425979263</td>
      </tr>
      <tr>
        <td>2000-01-08 05:00:00</td>
        <td align="left">0.5381591968286648</td>
        <td align="left">0.9086265328420788</td>
      </tr>
      <tr>
        <td>2000-01-09 05:00:00</td>
        <td align="left">0.006917594012260109</td>
        <td align="left">0.3663301291881975</td>
      </tr>
      <tr>
        <td>2000-01-10 05:00:00</td>
        <td align="left">0.02254703110973244</td>
        <td align="left">0.26054415521753127</td>
      </tr>
      <tr>
        <td>2000-01-11 05:00:00</td>
        <td align="left">0.9841800108255485</td>
        <td align="left">0.6362942889337346</td>
      </tr>
      <tr>
        <td>2000-01-12 05:00:00</td>
        <td align="left">0.9205053067719016</td>
        <td align="left">0.03380894101748566</td>
      </tr>
      <tr>
        <td>2000-01-13 05:00:00</td>
        <td align="left">0.40220930071609295</td>
        <td align="left">0.3838202773014171</td>
      </tr>
      <tr>
        <td>2000-01-14 05:00:00</td>
        <td align="left">0.07875460107663146</td>
        <td align="left">0.2546287400831643</td>
      </tr>
      <tr>
        <td>2000-01-15 05:00:00</td>
        <td align="left">0.4447287081996829</td>
        <td align="left">0.027567982009261804</td>
      </tr>
      </tbody>
    </table>
  </div>

{% endblock %}