{% extends "statistics_calc/base.html" %}
{% load tethys_gizmos %}
{% load tethys_gizmos staticfiles %}

{% block app_content %}

    <div class="jumbotron jumbotron-fluid">
        <h1>Process a Dataset</h1>
        <p>
            This page is for preprocessing a single dataset before merging it. You can view, interpolate, time scale,
            and download the preprocessed data here so that it can be used in the merge data page.
        </p>
    </div>

    <form id="pps_form" name="pps_form" method="post" enctype="multipart/form-data" action="/apps/statistics-calc/pps_csv/">
        {% csrf_token %}

        <h2>Raw Data Checks</h2>
        <hr>

        <h3>File Upload (CSV)</h3>

        {# File Input Button#}
        <div class="input-group">
            <label class="input-group-btn">
            <span class="btn btn-default waves-effect waves-light">
            CSV File Upload<input type="file" name="pps_csv" id="pps_csv" style="display: none;">
            </span>
            </label>
            <input type="text" id="pps_csv_name" class="form-control" readonly="">
        </div>

        <br>

        <button class="btn btn-success waves-effect waves-light" id="raw_data_plot_button" disabled>Analyze Raw Data</button>

        <div id="raw_data_plot">{# The Hydrograph goes here #}</div>
        <div id="raw_data_results">{# The Error messages go here #}</div>

        <div id="raw_data_results">{# Table of Information Regarding Raw Data Goes Here #}</div>

        <br>

        <h2>Preprocessing</h2>
        <hr>

        <h3>Interpolation Type</h3>

        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default form-check-label waves-effect waves-light">
                <input class="form-check-input" type="radio" autocomplete="off" name="interp_method"
                       value="linear">
                <h4>Linear Interpolation</h4>
            </label>
            <label class="btn btn-default form-check-label waves-effect waves-light">
                <input class="form-check-input" type="radio" autocomplete="off" name="interp_method"
                       value="pchip">
                <h4>PCHIP Interpolation</h4>
            </label>
            <label class="btn btn-default form-check-label waves-effect waves-light">
                <input class="form-check-input" type="radio" autocomplete="off" name="interp_method"
                       value="cubic">
                <h4>Cubic Interpolation</h4>
            </label>
        </div>

        <br><br>

        <h3>Interpolation Frequency</h3>

        {% gizmo hour_slider %}

        <div class="alert alert-secondary" id="interp_hour_value" role="alert">
            0 Hours
        </div>

        {% gizmo minute_slider %}

        <div class="alert alert-secondary" id="interp_minute_value" role="alert">
            0 Minutes
        </div>

        <br>

        <h3>Time Range</h3>

        <h4>
            Do you want to timescale this data?
        </h4>

        <input type="checkbox" id="time_range_bool" data-toggle="toggle" data-on="Yes" data-off="No"
           data-onstyle="success" data-offstyle="danger" data-size="small">

        <br><br>

        <div id="time_range_inputs" style="display: none">
            {% gizmo begin_date %}
            {% gizmo end_date %}
        </div>

        <br>

        <button class="btn btn-success waves-effect waves-light" id="generate_plot">Generate Plot</button>
        <button class="btn btn-success waves-effect waves-light" id="csv_button">Download CSV</button>

        <div id="pps_hydrograph"><!-- The Hydrograph goes here --></div>

    </form>

{% endblock %}