{% extends "statistics_calc/base.html" %}
{% load tethys_gizmos staticfiles %}

{% block app_content %}

<form method="POST" id="post-form" name="post-form" enctype="multipart/form-data">
    {% csrf_token %}
    Observed Data (CSV)<input type="file" name="observed_csv" accept=".csv" id="observed_csv"> <br>
    Simulated Data (CSV)<input type="file" name="simulated_csv" accept=".csv" id="simulated_csv"> <br>
</form>

<button type="submit" onclick="createTable()">Create Table</button>

<div id="results"></div> <!-- The table or errors go here -->

<button type="submit" onclick="createHydrograph()">Create Hydrograph</button>

<div id="Hydrograph"><!-- Hydrograph will be drawn inside this DIV --></div>
{% endblock %}